.typing-home {
    text-align: left;
    font-size: 20px;
    position: relative;
    bottom: 70px;
}

.loading {
    position: absolute;
    left: 35px;
    top: 10px;
}

.hello {
    font-weight: bold;
    font-size: 30px;
    width: fit-content;
    padding: 3px 3px;
    margin-left: 210px;
}

.name {
    text-align: center;
    font-size: 60px;
    position: relative;
    bottom: 30px;
}

.web-dev {
    text-align: center;
    position: relative;
    bottom: 60px;
}

.console {
    color: green;
    font-weight: bold;
}