 :root {
    --grayish: #444040;
    --background: rgb(255, 255, 255);
}

[data-theme='dark'] {
    --grayish: rgb(255, 255, 255);
    --background: #18161d;
}

.wrg-toggle--checked .wrg-toggle-check{
    opacity: 1;
}
.wrg-toggle--checked .wrg-toggle-uncheck {
    opacity: 0;
}
.wrg-toggle--checked .wrg-toggle-circle {
    left: 27px;
}
.wrg-toggle--checked .wrg-toggle-container{
    background-color: var(--grayish)
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--background);

    a {
        color: var(--grayish);
    }
}

code {
    font-family:  source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    background-color: var(--background);
    color: var(--grayish);
    font-family: Roboto;
    display: block;
    text-align: center;
    
}

.center {
    display: block;
    margin:0 auto;
    margin-top: 80px;
    width: fit-content;
    padding: 20px 20px;
    text-align: center;    
}


.nav-bar {
    position: relative;
    bottom: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    div {
        margin: 20px 20px;
        border: 2px solid;
        border-radius: 25px;
        width: 140px;
        height: 30px;
        display: flex;
        justify-content: center;
        transition: 0.2s ease-in-out 0s;
        cursor: pointer;
    }

    div:hover {
        background-color: var(--grayish);
        color: var(--background);
        border: 2px solid var(--grayish);
    }
    
}

.home {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    bottom: 17px; 
}

.portfolio {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    bottom: 17px;
}

.about-me {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    bottom: 17px;
}
.icon {
    position: relative;
    right: 10px;
    top: 2px;
}

.myName {
    font-size: 50px;
    transition: 0.3s ease-in-out 0s;
    cursor: pointer;
}

.icon-container {
    position: relative;
    bottom: 80px;
    text-align: center;
    width: 100%;
    background-color: rgba(39, 38, 107, 0.288);
    height: 49px;
    width: 593px;

    * {
        width: 25px;
        height: 25px;
        padding: 15px;
    }
}

.social-buttons {
    top:10px;
    display: flex;
    justify-content: center;

    div {
        display: flex;
        margin: 30px 250px;

        * {
            width: 30px;
            height: 30px;
            margin: 0 10px;
            transition: 0.1s ease-in-out 0s;
        }

        a:hover {   
            transform: scale(1.2);
        }


        
    }
}

.cv {
    font-size: 25px;
    font-weight: bold;
}

.dark-mode-switcher {
    position: relative;
    bottom: 55px;
}

.laptop {
    width: 800px;
    position: fixed;
    left: 50%;
    top: 170px;
    transform: translateX(-50%);
    
}

.portfolio-menu {
    position: fixed;
    top: 0px;
    margin-top: 50px;
    font-size: 14px;
    margin-left: 100px;
    font-weight: bolder;
    

    li {
        background-color: #53535334;
        border-radius: 24px;
        border: 2px solid;
        align-items: center;
        margin: 30px 20px;
        width: 170px;
        height: 30px;
        display: flex;
        justify-content: center;
        position: relative;
        left: 0;
        transition: 0.2s ease-in-out 0s;
        cursor: pointer;
        
    }

    li:hover {
        background-color: var(--grayish);
        color: var(--background);
        border: 2px solid var(--background);
        position: relative;
        left: 10px;
    }
}

.center-screen {
    display: flex;
    justify-content: center;
    position: relative;
    right: 600px;
}



.portfolio-title {
    font-size: 60px;
    position: relative;
    bottom: 20px;
}

.about-icon {
    width: 300px;
    height: 300px;
    position: fixed;
    left: 50%;
    top: 300px;
    transform: translateX(-50%);

}

.about-me-text {
    text-align: left;
    font-size: 16px;
    width: 300px;
    position: relative;
    left: 980px;
    background-color: #18161d0c;
    border-radius: 24px;
    padding: 15px;
}

.about-me-tools {
    text-align: left;
    font-size: 16px;
    width: 300px;
    max-height: 400px;
    position: relative;
    left: 220px;
    border-radius: 24px;
    padding: 15px;
}

.profile {
    text-align: left;
}

.skils-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    * {
        width: 50px;
        height: 50px;
        margin: 10px;
    }
}

.my-toolbelt {
    text-align: center;
    font-weight: bold;
}

.experience {
    text-align: center;
    font-weight: bold;
}

.list {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 30px;
}

.this-center {
    border-radius: 1px;
    width: 540px;
    height: 320px;
    position: fixed;
    left: 50%;
    top: 220px;
    transform: translateX(-50%);
}

.this-site-title {
    font-size: 30px;
    position: absolute;
    top: 120px;
    left: 30px;
}

.this-page-link {
    position: absolute;
    top: 236px;
    left: 35px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(21, 133, 67);    
}

.technologies {
    display: flex;
    justify-content: left;
    border-radius: 24px;
    width: 330px;
    position: absolute;
    top: 285px;
    right: 230px;
    
    p {
        margin-left: 20px;
        font-size: 20px;
    }
}

.technology-icons {

    display: flex;

    * {
        width: 30px;
        height: 30px;
        margin: 18px 10px;
    }

}

.links {
    position: absolute;
    top: 285px;
    display: flex;
    justify-content: right;
    border-radius: 24px;
    width: 550px;
    
    p {
        font-size: 20px;
    }
}

#live {
    position: relative;
    right: 20px;
    font-size: 19px;
    padding: 2px;
    font-weight: bold;
    color: rgba(255, 0, 0, 0.651);
    border-radius: 50%;
}

.live-link-container {
    position: relative;
    bottom: 15px;
}

#live-link {
    position: relative;
    bottom: 35px;
    right: 10px;
}

.links-icons {

    display: flex;

    * {
        width: 40px;
        height: 40px;
        margin: 12px 10px;
        position: relative;
        bottom: 5px;
    }

}

.screenshot {
    border-radius: 5px;
    width: 280px;
    position: absolute;
    right: 260px;
    box-shadow: 0 0 10px var(--grayish);
    border: 2px solid var(--grayish);
}

.description {
    text-align:justify;
    border-radius: 13   px;
    width: 220px;
    height: 400px;
    position: absolute;
    left: 320px;
    top: -25px;
    background-color: #18161d0c;
    color: var(--grayish);
    font-weight: bold;
    padding: 13px;
}

.vegan-title {
    font-size: 30px;
    position: absolute;
    top: 150px;
    left: 30px;
}

.mad-mai-title {
    font-size: 26px;
    position: absolute;
    top: 160px;
}

.mad-mai-link {
    position: absolute;
    top: 236px;
    left: 65px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(21, 133, 67);    
}

.app-thumbal {
        border-radius: 5px;
    width: 215px;
    position: absolute;
    right: 380px;
    bottom: 10px;
    
}

.chat-title {
    font-size: 26px;
    position: absolute;
    left: 160px;
    top: -20px;
}

.list-native {
    text-align: left;
    position: relative;
    left: 137px;
    top: 40px;
    font-size: 15px;
}

.weather-title {
    font-size: 26px;
    position: absolute;
    top: 140px;
    left: 30px;
}

.json-thumbal {
    width: 200px;
    position: relative;
    right: 170px;
    box-shadow: 0 0 10px var(--grayish);
    border: 2px solid var(--grayish);
}

.json-title {
    position: relative;
    right: 170px;
}

.json-description {
    text-align:justify;
    border-radius: 13   px;
    width: 280px;
    height: 400px;
    position: absolute;
    left: 240px;
    top: -25px;
    background-color: #18161d0c;
    color: var(--grayish);
    font-weight: bold;
    padding: 13px;
}

.footer {
    position: fixed; 
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%);
    color: var(--grayish);
}

.about-center-screen {
    display: flex;
    justify-content: center;
    position: relative;
    right: 600px;
}


@media only screen and (max-width: 1386px) {

    .about-me-text {
        text-align: left;
        font-size: 14px;
        width: 240px;
        position: relative;
        left: 950px;
        background-color: #18161d0c;
        border-radius: 24px;
        padding: 15px;
    }
    
    .about-me-tools {
        text-align: left;
        font-size: 14px;
        width: 230px;
        max-height: 400px;
        position: relative;
        left: 250px;
        border-radius: 24px;
        padding: 15px;
    }

}

@media only screen and (max-width: 1204px) {
    .about-me-text {
        text-align: left;
        font-size: 13px;
        width: 240px;
        position: relative;
        left: 0;
        background-color: #18161d0c;
        border-radius: 24px;
        padding: 15px;
    }
    
    .about-me-tools {
        text-align: left;
        font-size: 14px;
        width: 270px;
        max-height: 400px;
        position: relative;
        left: 0;
        border-radius: 24px;
        padding: 15px;
    }

    .about-center-screen {
        display: flex;
        justify-content: center;
        position: relative;
        right: 0px;
    }

    .about-icon {
        display: none;    
    }

    .skils-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        * {
            width: 40px;
            height: 40px;
            margin: 10px;
        }
    }

} 
@media only screen and (max-width: 1154px) {
    @media screen and (orientation:portrait) {
        .portfolio-menu {
            position: fixed;
            display: flex;
            flex-wrap: wrap;
            top: 0px;
            margin-top: 30px;
            font-size: 13px;
            margin-left: 0px;
            font-weight: bolder;
            width: 600px;
            
        
            li {
                background-color: #53535334;
                border-radius: 24px;
                border: 2px solid;
                align-items: center;
                margin: 30px 5px;
                height: 30px;
                display: flex inline;
                flex-wrap: wrap;
                justify-content: center;
                position: relative;
                left: 590px;
                top: 590px;
                padding: 5px;
                transition: 0.2s ease-in-out 0s;
                cursor: pointer;
                
            }
        
            li:hover {
                background-color: var(--grayish);
                color: var(--background);
                border: 2px solid var(--background);
                position:relative;
                left: 530px;
            }
        }
    }
    @media screen and (orientation:landscape) {
        .portfolio-menu {
            position: fixed;
            display: flex;
            flex-wrap: wrap;
            top: 100px;
            margin-top: 30px;
            font-size: 10px;
            margin-left: 0px;
            font-weight: bolder;
            width: 800px;
            z-index: 2;
            
        
            li {
                background-color: #53535334;
                border-radius: 24px;
                border: 2px solid;
                align-items: center;
                margin: 10px 5px;
                height: 10px;
                width: 110px;
                display: block;
                flex-wrap: wrap;
                justify-content: center;
                position: relative;
                left: 510px;
                top: 0px;
                padding: 5px;
                transition: 0.2s ease-in-out 0s;
                cursor: pointer;
                
            }
        
            li:hover {
                background-color: var(--grayish);
                color: var(--background);
                border: 2px solid var(--background);
                position:relative;
                left: 530px;
            }
        }
    }
}

@media only screen and (max-width: 428px) {
    body {
        height: 110vh;
    }
    
    .laptop {
        display: none;
    }

    .icon-container {
        position: relative;
        bottom: -180px;
        text-align: center;
        width: 100%;
        background-color: rgba(39, 38, 107, 0.288);
        height: 149px;
        width: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        * {
            width: 25px;
            height: 25px;
            padding: 15px;
        }
    }

    .social-buttons {
        top:0px;
        position: fixed;
        display: flex;
        justify-content: center;
    
        div {
            display: flex;
            margin: 30px 50px;
    
            * {
                width: 30px;
                height: 30px;
                margin: 0 10px;
                transition: 0.1s ease-in-out 0s;
            }
    
            a:hover {   
                transform: scale(1.2);
            }
    
    
            
        }
    }

    .portfolio-menu {
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        top: -410px;
        margin-top: 10px;
        font-size: 10px;
        margin-left: 0px;
        font-weight: bolder;
        width: 500px;
        z-index: 1;
        
    
        li {
            background-color: #53535334;
            border-radius: 24px;
            border: 2px solid;
            align-items: center;
            margin: 5px 5px;
            height: 30px;
            width: 130px;
            display: flex inline;
            flex-wrap: wrap;
            justify-content: center;
            position: relative;
            left: 590px;
            top: 500px;
            padding: 5px;
            transition: 0.2s ease-in-out 0s;
            cursor: pointer;
            
        }
    
        li:hover {
            background-color: var(--grayish);
            color: var(--background);
            border: 2px solid var(--background);
            position:relative;
            left: 590px;
        }
    }
    .footer {
        display: none;
    }

    .this-center {
        border-radius: 1px;
        width: 300px;
        height: 320px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        left: 50%;
        top: 220px;
        transform: translateX(-50%);
        text-align: center;
    }
    
    .this-site-title {
        font-size: 30px;
        position: relative;
        top: 80px;
        left: -120px;
    }
    
    .this-page-link {
        position: absolute;
        top: 400px;
        left: 175px;
        font-size: 20px;
        font-weight: bold;
        color: rgb(21, 133, 67);    
    }
    
    .technologies {
        display: flex;
        justify-content: left;
        border-radius: 24px;
        width: 300px;
        position: absolute;
        top: 430px;
        right: 200px;
        
        p {
            margin-left: 20px;
            font-size: 20px;
        }
    }
    
    .technology-icons {
    
        display: flex;
    
        * {
            width: 30px;
            height: 30px;
            margin: 18px 10px;
        }
    
    }
    
    .links {
        position: absolute;
        top: 430px;
        right: 80px;
        display: flex;
        justify-content: right;
        border-radius: 24px;
        width: 550px;
        
        p {
            font-size: 20px;
        }
    }
    
    #live {
        display: none;
    }
    
    .live-link-container {
        display: none;
    }
    
    #live-link {
        display: none;
        position: relative;
        bottom: 35px;
        right: 10px;
    }
    
    .links-icons {
    
        display: flex;
    
        * {
            width: 40px;
            height: 40px;
            margin: 12px 10px;
            position: relative;
            bottom: 5px;
        }
    
    }
    
    .screenshot {
        border-radius: 5px;
        width: 300px;
        height: 180px;
        position: relative;
        right: 0px;
        left: 130px;
        top: 190px;
        box-shadow: 0 0 10px var(--grayish);
        border: 2px solid var(--grayish);
    }
    
    .description {
        text-align:justify;
        border-radius: 13   px;
        width: 300px;
        height: 400px;
        position: absolute;
        left: 120px;
        top: 490px;
        background-color: #18161d0c;
        color: var(--grayish);
        font-weight: bold;
        padding: 13px;
    }

    .portfolio-title {
        top: 30px;
    }

    .portfoliio-caption {
        display: none;
    }

    .nav-bar {
        position: fixed;
        bottom: 765px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        z-index: 1;
        
        div {
            margin: 5px 5px;
            border: 2px solid;
            border-radius: 25px;
            width: 140px;
            height: 30px;
            display: flex;
            justify-content: center;
            transition: 0.2s ease-in-out 0s;
            cursor: pointer;
        }
    
        div:hover {
            background-color: var(--grayish);
            color: var(--background);
            border: 2px solid var(--grayish);
        }
        
    }

    .vegan-title {
        font-size: 30px;
        position: absolute;
        top: 100px;
        left: 170px;
    }
    .weather-title {
        font-size: 26px;
        position: absolute;
        top: 110px;
        left: 170px;
    }
    .mad-mai-title {
        font-size: 26px;
        position: absolute;
        top: 110px;
        left: 150px;
    }
    .mad-mai-link {
        position: absolute;
        top: 400px;
        left: 220px;
        font-size: 20px;
        font-weight: bold;
        color: rgb(21, 133, 67);    
    }
    .mad-mai-res {
        display: none;
    }
    .app-thumbal {
        border-radius: 5px;
    width: 215px;
    position: absolute;
    right: 280px;
    bottom: -130px;
    
    }

    .chat-title {
        font-size: 26px;
        position: absolute;
        left: 290px;
        top: 180px;
    }

    .list-native {
        text-align: left;
        position: relative;
        left: 267px;
        top: 240px;
        font-size: 15px;
    }
    .json-thumbal {
        width: 200px;
        position: fixed;
        top: 200px;
        right: 170px;
        box-shadow: 0 0 10px var(--grayish);
        border: 2px solid var(--grayish);
    }
    
    .json-title {
        position: relative;
        right: -180px;
        top: 120px;
    }
    
    .json-description {
        text-align:justify;
        border-radius: 13   px;
        width: 280px;
        height: 400px;
        position: absolute;
        left: 120px;
        top: 465px;
        background-color: #18161d0c;
        color: var(--grayish);
        font-weight: bold;
        padding: 13px;
    }
    .about-me-text {
        text-align: left;
        font-size: 13px;
        width: 240px;
        position: relative;
        left: 0;
        top: 200px;
        background-color: #18161d0c;
        border-radius: 24px;
        padding: 15px;
    }
    
    .about-me-tools {
        text-align: left;
        font-size: 14px;
        width: 270px;
        max-height: 400px;
        position: relative;
        left: 0;
        top: 200px;
        border-radius: 24px;
        padding: 15px;
    }

    .about-center-screen {
        display: flex;
        justify-content: center;
        position: relative;
        right: 0px;
    }

    .about-icon {
        display: none;    
    }

    .skils-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        * {
            width: 40px;
            height: 40px;
            margin: 10px;
        }
    }
    .portfolio-title {
        top: 250px;
    }
} 

@media only screen and (max-width: 375px) {
    body {
        height: 150vh;
    }
    .nav-bar {
        position: fixed;
        bottom: 465px;
        right: 0px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        z-index: 1;
        
        div {
            margin: 5px 5px;
            border: 2px solid;
            border-radius: 25px;
            width: 140px;
            height: 30px;
            display: flex;
            justify-content: center;
            transition: 0.2s ease-in-out 0s;
            cursor: pointer;
        }
    
        div:hover {
            background-color: var(--grayish);
            color: var(--background);
            border: 2px solid var(--grayish);
        }
        
    }
    .icon-container {
        position: relative;
        bottom: -490px;
        text-align: center;
        width: 100%;
        background-color: rgba(39, 38, 107, 0.288);
        height: 80px;
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    
        * {
            width: 25px;
            height: 25px;
            padding: 5px;
        }
    }
    .portfolio-menu {
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        top: -340px;
        margin-top: 10px;
        font-size: 10px;
        margin-left: 0px;
        font-weight: bolder;
        width: 500px;
        z-index: 1;
        
    
        li {
            background-color: #53535334;
            border-radius: 24px;
            border: 2px solid;
            align-items: center;
            margin: 5px 5px;
            height: 10px;
            width: 130px;
            display: flex inline;
            flex-wrap: wrap;
            justify-content: center;
            position: relative;
            left: 590px;
            top: 500px;
            padding: 5px;
            transition: 0.2s ease-in-out 0s;
            cursor: pointer;
            
        }
    
        li:hover {
            background-color: var(--grayish);
            color: var(--background);
            border: 2px solid var(--background);
            position:relative;
            left: 590px;
        }
    }
    .about-me-text {
        text-align: left;
        font-size: 10px;
        width: 240px;
        position: relative;
        left: 0;
        top: 300px;
        background-color: #18161d0c;
        border-radius: 24px;
        padding: 15px;
    }
    
    .about-me-tools {
        text-align: left;
        font-size: 14px;
        width: 270px;
        max-height: 400px;
        position: relative;
        left: 0;
        top: 300px;
        border-radius: 24px;
        padding: 15px;
    }

    .about-center-screen {
        display: flex;
        justify-content: center;
        position: relative;
        right: 0px;
    }

    .about-icon {
        display: none;    
    }
    .skils-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        * {
            width: 30px;
            height: 30px;
            margin: 5px;
        }
    }
}